* {
    /* margin: 0;
    padding: 0; */
    /* font-family: Roboto, sans-serif; */
    font-family: "Montserrat", sans-serif;
}

body {
    max-width: 100%;
    margin: auto;
}
.header {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: rgb(189, 68, 0);
    height: 50px;
    line-height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.links {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.links:hover {
    color: rgb(21, 161, 106);
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(189, 68, 0);
    height: auto;
    line-height: 70px;
}

.AboutCompany {
    display: flex;
    flex-direction: column;
}

.InformationandSupport {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.InformationandSupport ul {
    padding: 0;
    margin: 0;
    line-height: normal; 
}

.InformationandSupport li {
    margin: 0;
    line-height: 30px;
    padding: 0;
}

.InformationandSupport h2 {
    line-height: 40px; 
    margin-top: 0;
    margin-bottom: 0;
}

.hr {
    background-color: rgb(189, 68, 0);
    border: none;
    width: 1000px;
    height: 1px;
    display: block;
    margin-left: -300px;
}

.ToTopButton {
    display: flex;
    flex-direction: row;
    justify-self: right;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 4px;
    text-align: center;
    font-size: 16px;
}

.ToTopButton:hover {
    color: rgb(4, 71, 44);
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0px;
}

.home-image {
    width: 45%;
    max-width: 45%;
    height: auto;
    /* height: 90vh; */
    display: block;
    justify-self: center;
}

.whoweare {
    display: flex;
    align-self: normal;
    justify-content: center;

}
.home-text {
    /* flex: 0 0 50%; */
    color: black;
    font-size: 15px;
    /* max-width: 60%; */
    display: flex;
    text-align: center;
    align-items: center;
    /* padding: 0px 20px; */
    
}

.footer-hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);  /* thinner, semi-transparent line */
    width: 30%; 
    margin: 0 auto;                    /* center horizontally */
    padding: 0;
    height: 0;
}

.dotted-hr {
    display: block;
    border: none;
    border-bottom: 2px solid #e8e8e8;
    width: 30%;
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.welcome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(189, 68, 0);
    font-size: larger;
    padding-left: 80px;
}

.about{
    display: block;
    align-items: center;
    justify-content: center;
}

.statements{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 70px;
}

.frequently{
    color: rgb(189, 68, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 30px;
    font-size: 26px;
    
}

.inquiries{
    padding: 100px;
}

.statement-image{
    width: 40%;
    height: auto;
}

.no-wrap {
    white-space: nowrap;
}

.imagegallerycontainer{
    padding: 2rem;
}

.slider-wrapper{
    position: relative;
    width: 45%;
    /* max-width: 45%; */
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 4 / 3;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-type: start;
    width: 100%;
    height: 100%;
    object-fit: cover;   /* Prevents stretching */
    object-position: center top;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #5a5a5a;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}